html
  head
    title
  body
    table
      theader
        th Title
        th Description
        th Show
        th Delete
      each article in articles
        tr
          td= article.title
          td= article.description
          td
            a(href='/blogs/' + article.id) Show
          td
            form(method='POST' action='/blogs/' + article.id + '?_method=DELETE')
              button(type='submit') Delete
    br
    a(href='/blogs/new') Add Article
