html
  head
    title
  body
    form(method='POST' action='/blogs/' + article.id)
      div
        label(for=title) Title:
        input(name='title', type='text', value=article.title)
      div
        lable(for=description) Description:
        input(name='description', type='text', value=article.description)
      div
        button(type='submit') Update

